In [2]:
import pandas as pd
import numpy as np
import re

In [ ]:
st = """The quick brown Fox jumps over the lazy dog. 
My email is john.doe@example.com. 
My other email
Provo's lat/lon coordinates are 40.2338N111.6585W is random_student@university.edu.  
The Date is 03/05/2024. 
The textbook will cost $30. It should be less than 40€.
This is a sample phone number (123) 456-7890.
Here is another sample (987)654-3210."""

1. Make a list of all the single digits.  How long is it? (should be 45)

In [ ]:
# pattern = r'\d'
pattern = r'[0-9]' # [01234566789]
len(re.findall(pattern, st))

2. Make a list sequences of digits.  Define a sequence as a set of digits separated by non-digit characters.  For example, in the string "40.2338N111" the sequences of digits are: "40", "2338" and "111". 

How long is the list? (should be 15)

3. Find all the phone numbers of the form `(XXX) XXX-XXXX` or `(XXX)XXX-XXXX` in the string `st`.

4. Find all the email addresses in the string `st`.

5. Create a regex pattern that extracts the year from a date formatted as `MM/DD/YYYY`.  Apply your pattern to the string `st`.

6.  Find all the values in `st` that represent currency in US Dollars or Euros (€).

7. Extract the latitude and longitude from `st`.

8. Replace all the vowels and "y" in `st` with the character `*`

9. Find all words in the string `st` that start with a lowercase letter and are at least 6 characters long.

10. Find all capitalized words in the text

---
## Data Cleaning with DataFrames

Load the data:
```python
url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df_employee = pd.read_csv(url)
```

1. Extract the first and last names from the "name" column and create two new variable called "first_name" and "last_name"
2. Extract the area code from the phone number column and create a new variable called "area_code" (assume the area code is always the first 3 digits)
3. Extract the year from the "birthdate" column and create a new variable called "birthyear"
4. Create a columns that is the height in inches
5. Create a column that contains the domain of the email addresses (e.g. "yahoo.com")
6. Extract the city and state from the "mailing_address" and create three new variables called "city", "state", and "zipcode"
7. Keep only the new variables that you created in (1.) - (6.) Your final dataset should look something like this:


| first_name | last_name | area_code | birthyear| ht_in| domain | city | state | zipcode |
|------------|-----------|-----------|----------|-------|-------|--------|-----|---------|
| Ryan | Wilkins | 851 | 1959 | 74 | hotmail.com | Port Victoria | MN | 71782

In [3]:
url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df_employee = pd.read_csv(url)

In [4]:
df_employee.head(2)

,name,phone_number,email_address,birthdate,startdate,mailing_address,job,height
0,Ryan Wilkins,851-082-4165,vasquezdawn@hotmail.com,2/19/59,11/11/07,"08906 Adam Avenue\nPort Victoria, MN 71782","Teacher, special educational needs","6'2"""
1,Sierra Turner,380-360-2156,carloswoods@noble.biz,10/5/51,1/12/02,"0926 Baird Roads, West Natalie, WV 81710",Professor Emeritus,"6'1"""

In [13]:
first = df_employee['name'].str.split().str[0]
last = df_employee['name'].str.split().str[-1]

In [17]:
type(df_employee['name'].str.split()[0])

list

In [14]:
first

0         Ryan
1       Sierra
2        Lydia
3       Sherri
4       Jeremy
5        Angel
6      Michael
7      Rebecca
8      Jeffrey
9      Tiffany
10      Alison
11    Kimberly
12      Thomas
13       Emily
14     Michael
15       Jacob
16      Nicole
17       Kevin
18      Ashley
19       Julie
Name: name, dtype: object

In [15]:
last

0        Wilkins
1         Turner
2           Wood
3          Smith
4          Owens
5         Graves
6        Johnson
7       Morrison
8          Riley
9        Vincent
10       Herring
11        Peters
12         Jones
13       Gilbert
14         Baker
15        Tucker
16        Hardin
17    Hutchinson
18         Brown
19       Alvarez
Name: name, dtype: object